/*----------------------------------------General---------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url(menu.css);
@import url(banner.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #000;
}

/*----------------------------------------Page_index---------------------------------------*/
/*----------------------------------------Header---------------------------------------*/
header {
    width: 100%;
    height: 61px;
    /*background: rgba(0, 10, 35, 0.5);*/
    background: #000A23;
    color: #fff;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;    
}
.contenedor{
    width: 98%;
    margin: auto;
}
header .contenedor{
    display: table;    /*Limpia los float*/
}
header .contenedor img{
    float: left;
}
header .contenedor h1{
    float: left;
    padding: 10px;
    color: #fff;
}
section {
    width: 100%;
    max-resolution: 25px;
}
/*----------------------------------------Banner---------------------------------------*/

/*----------------------------------------footer---------------------------------------*/

/*Formato de contenedor de pie de página*/
footer {
    background-color: #000A23;
}
footer .contenedor{
    background-color: #000A23;
    margin: auto;
    padding: 15px 15px;
	width: 100vw;
    min-height: 20vh;
}
footer .contenedor ul{
    float: left;
	list-style: none;
    color: #fff;
}
footer .contenedor ul h3{
	text-transform: uppercase;
    font-weight: normal;
}
footer .contenedor ul li span{
	float: left;
    
}
footer .contenedor h1{
    color: #fff;
    text-align: center;
    font-weight: normal;
}
footer  .contenedor .sociales{
    text-align: center;
}
footer  .contenedor .sociales a{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
}
footer .footnote {
    background-color: #000;
    min-height: 100%;
}
footer .footnote p{
    color: #fff;
    text-align: center;
    padding: 10px;
}

@media (min-width:480px) {
    #page_home #banner{
        height: 370px;
        width: 100vw;
        overflow: hidden;
    }
    #page_home #servicios{
        width: 97vw;
    }
    #page_home #servicios {
        top: 140px;
    }
    #page_home #servicios ul li h3 {
	    line-height: 45px; /*Interlineado*/
        font-size: 18px;
    }
}
@media (min-width:768px) {
    #page_home #banner{
        height: 370px;
        overflow: hidden;
    }
    #page_home #servicios{
        width: auto;
    }
    #page_home #servicios ul img{
        width: 60px;
        height: 60px;
    }
    #page_home #servicios ul li h3 {
	    line-height: 40px; /*Interlineado*/
        font-size: 24px;
    }
    #page_home #servicios ul li h2 {
	    font-size: 28px; /*Interlineado*/
    }
    #page_home #servicios ul li ul li {
        min-height: 40px;
    }
}
@media (min-width:1024px){
    .contenedor {
        width: 1000px;
    }
    #page_home #banner{
        height: 380px;
        overflow: hidden;
    }
    #page_home #servicios{
        width: auto;
    }
    #page_home #servicios ul li h3 {
	    line-height: 40px; /*Interlineado*/
        font-size: 30px;
    }
    #page_home #servicios ul li h2 {
	    font-size: 30px; /*Interlineado*/
    }
    #page_home #servicios ul li ul li {
        min-height: 40px;
    }
    #page_home footer .contenedor{
        width: 1000px;
    }
}

/*-------------------------------------Página productos--------------------------------------------*/
#page_productos #banner img{
    width: 150%;
}
#page_productos .container{
    /*background-color: #000A23;*/
    background: rgba(0, 0, 0, 0.6);
    position: relative;
    padding: 10px 10px;
    margin: auto;    /*Margenes de la tabla principal*/
    top: 160px;
    left: 5px;
    width: 400px;
    height: 50vh;
    transform: translateY(0);
    padding: 20px 0 20px 20px;
}
.carousel {
    margin: 0;
	padding: 0;
	position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
.carousel img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}
.carousel p{
    color: #ffffff;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}
#page_productos footer .contenedor {
  min-height: 30vh;
}
#page_productos main .container h1{
    color: #FFFFFF;
    text-align: center;
}

@media (min-width:480px) {
    #page_productos #banner{
        height: 400px;
        overflow: hidden;
    }
}
@media (min-width:768px) {
    #page_productos footer .footnote p{
        text-align: center;
    }
}
@media (min-width:1024px){
    #page_productos footer .contenedor{
        width: 1000px;
    }
    #page_productos footer .footnote div{
        width: 100vw;
    }
    #page_productos footer .footnote p{
        text-align: center;
    }
}
/*----------------------------------------Page_Contacto---------------------------------------*/
#page_contacto #banner img{
    width: 180%;
}

#page_contacto main form{
	width: 450px;
	margin: auto;
	background: rgba(0, 0, 0, 0.5);
	padding: 10px 20px;
	margin-top: 420px;
	margin-bottom: 20px;
	border-radius: 20px;
}
#page_contacto main h2{
	color: #FFFFFF;
	text-align: center;
	margin: 0;
	font-size: 30px;
	margin-bottom: 20px;
}
#page_contacto main input, textarea{
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;
	font-size: 18px;
}
@media (min-width:480px) {
    #page_contacto #banner {
        height: 500px;
        width: 100vw;
        overflow: hidden;
    }
    #page_contacto #banner img{
        width: 240%;
    }
}
